

.za, .zb, .zc {
  height: 13px;
  width: 3px;
  display: inline-block;
}

.zd {
  width: 1px;
}

.za {
  background-image: url("testMatrix.stripe0.png");
}

.zb {
  background-image: url("testMatrix.stripe1.png");
}

.zc {
  background-image: url("testMatrix.stripe2.png");
}

.zd {
  background-image: url("testMatrix.stripe3.png");
}

.a {
  background-position-y: -3px;
}

.aa {
  background-position-x: -3px;
}

.ba {
  background-position-x: -6px;
}

.ca {
  background-position-x: -9px;
}

.da {
  background-position-x: -12px;
}

.b {
  background-position-y: -23px;
}

.ab {
  background-position-x: -23px;
}

.bb {
  background-position-x: -26px;
}

.cb {
  background-position-x: -29px;
}

.db {
  background-position-x: -32px;
}

.c {
  background-position-y: -43px;
}

.ac {
  background-position-x: -43px;
}

.bc {
  background-position-x: -46px;
}

.cc {
  background-position-x: -49px;
}

.dc {
  background-position-x: -52px;
}

.d {
  background-position-y: -63px;
}

.ad {
  background-position-x: -63px;
}

.bd {
  background-position-x: -66px;
}

.cd {
  background-position-x: -69px;
}

.dd {
  background-position-x: -72px;
}

.e {
  background-position-y: -83px;
}

.ae {
  background-position-x: -83px;
}

.be {
  background-position-x: -86px;
}

.ce {
  background-position-x: -89px;
}

.de {
  background-position-x: -92px;
}

.f {
  background-position-y: -103px;
}

.af {
  background-position-x: -103px;
}

.bf {
  background-position-x: -106px;
}

.cf {
  background-position-x: -109px;
}

.df {
  background-position-x: -112px;
}

.g {
  background-position-y: -123px;
}

.ag {
  background-position-x: -123px;
}

.bg {
  background-position-x: -126px;
}

.cg {
  background-position-x: -129px;
}

.dg {
  background-position-x: -132px;
}

.h {
  background-position-y: -143px;
}

.ah {
  background-position-x: -143px;
}

.bh {
  background-position-x: -146px;
}

.ch {
  background-position-x: -149px;
}

.dh {
  background-position-x: -152px;
}

.i {
  background-position-y: -163px;
}

.ai {
  background-position-x: -163px;
}

.bi {
  background-position-x: -166px;
}

.ci {
  background-position-x: -169px;
}

.di {
  background-position-x: -172px;
}

.j {
  background-position-y: -183px;
}

.aj {
  background-position-x: -183px;
}

.bj {
  background-position-x: -186px;
}

.cj {
  background-position-x: -189px;
}

.dj {
  background-position-x: -192px;
}

.k {
  background-position-y: -203px;
}

.ak {
  background-position-x: -203px;
}

.bk {
  background-position-x: -206px;
}

.ck {
  background-position-x: -209px;
}

.dk {
  background-position-x: -212px;
}

.l {
  background-position-y: -223px;
}

.al {
  background-position-x: -223px;
}

.bl {
  background-position-x: -226px;
}

.cl {
  background-position-x: -229px;
}

.dl {
  background-position-x: -232px;
}

